annotated-types
anyio
attrs
beautifulsoup4
certifi
click
h11
httpcore
httpx
httpx-sse
idna
mcp
outcome
pydantic
pydantic-settings
pydantic_core
PySocks
python-dotenv
selenium
sniffio
sortedcontainers
sse-starlette
starlette
trio
trio-websocket
typing_extensions
urllib3
uvicorn
websocket-client
wsproto